.connect {
    background-color: #f6f6f6;
    height: 600px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (max-width: 680px) {
    .connect {
      background-color: #f6f6f6;
      height: 550px;
      display: flex;
      flex-direction: column;
    }
  }
  
  @media  screen and (max-width: 480px) {
    .connect {
      background-color: #f6f6f6;
      height: 500px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }