.oneService {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.patternStle {
  width: 170px;
  height: 170px;
  align-self: center;
}
.service1Style {
  position: absolute;
  border-radius: 50%;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
  display: flex;
}
.oneService h4 {
  font-family: Glory;
  font-size: 19px;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
}
