.ourCore {
  display: flex;
  flex-direction: column;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.ourCore h1 {
  text-align: center;
  font-family: Glory;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
}

.styleCore {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 1rem 10rem 0 10rem;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}
