.container {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
}
.gridContainer {
  display: grid;
  grid-template-columns: 60% 40%;
}
.firstGrid {
  max-width: 100%;
}
.iconsDiv {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
.centerBTN{
  display: flex;
  justify-content: center;
  
}